.blog-wrap {
	background: #eeeeee;
	width: 900px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

.nav-bar {
	background: #e68181;
	color: white;
	padding: 10px;
	margin-bottom: 20px;
}

.link {
	text-decoration: none;
	color: #4b4949;
}
.link:hover {
	background-color: #6e80ce;
	border-radius: 5px;
}

.lorem {
	background: tomato;
	margin-bottom: 5px;
	padding: 20px 10px;
}

.lorem-1 {
	color: blue;
}

.lorem-2 {
	color: green;
}

.lorem-3 {
	color: yellow;
}