header, footer {
  height: 100px;
}

main,section, aside {
  height: 300px;

}

main {
  display: flex;
}

header { 
  background: #8b1111;
}

section {
  background: #0d9b09;
  width: 70%;
}

aside {
  background: #c5ce45;
  width: 30%;
}

footer {
  background: #3c22ca
}